<div class="my-3">
    <h2>{{this.Privet}}, {{this.UserInfo?.name}} {{this.UserInfo?.patronymic}}</h2>

        <div class="row row-cols-1 row-cols-md-4">
            <ng-container *ngFor="let item of Bills">
                <div class="mb-3 col">
                    <mat-card class="d-flex flex-column h-100">
                        <h1>Баланс: {{item.money}} ₽</h1>
                        <h1 class="mb-0 mr-1">**** **** **** {{item.number}}</h1>
                        <div class="d-flex align-items-center">
                            <h3 class="mr-auto mb-0">{{item.name}}</h3>
                            <img [src]="item.img" alt="card image" class="cardImg">
                        </div>
                    </mat-card>
                </div>
            </ng-container>

            <div class="col mb-3">
                <mat-card class="h-100 d-flex flex-column justify-content-center align-items-center">
                    <img src="assets/icons/SendMoney.png" alt="" class="icons">
                    <h3>Перевести деньги</h3>
                </mat-card>
            </div>

            <div class="col mb-3" (click)="openDialog()">
                <mat-card class="h-100 d-flex flex-column justify-content-center align-items-center">
                    <img src="assets/icons/openNewCard.png" alt="" class="icons">
                    <h3>Открыть новый счёт</h3>
                </mat-card>
            </div>

            <div class="col mb-3">
                <mat-card class="h-100 d-flex flex-column justify-content-center align-items-center">
                    <img src="assets/icons/statement.png" alt="" class="icons">
                    <h3>Заказать выписку</h3>
                </mat-card>
            </div>

            <div class="col mb-3">
                <mat-card class="h-100 d-flex flex-column justify-content-center align-items-center">
                    <img src="assets/icons/paymentHistory.png" alt="" class="icons">
                    <h3>История переводов</h3>
                </mat-card>
            </div>

            <div class="col mb-3">
                <mat-card class="h-100 d-flex flex-column justify-content-center align-items-center">
                    <img src="assets/icons/OnlinePayment.png" alt="" class="icons">
                    <h3>Оплатить ЖКХ</h3>
                </mat-card>
            </div>

            <div class="col mb-3">
                <mat-card class="h-100 d-flex flex-column justify-content-center align-items-center">
                    <img src="assets/icons/OnlineStore.png" alt="" class="icons">
                    <h3>Оплатить покупки</h3>
                </mat-card>
            </div>

        </div>

</div>
