mat-toolbar {
  span {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 3.2rem;
    outline: none !important;

    &:hover {
      color: #69f0ae;
      cursor: pointer;
    }
  }
}

.round {
  border-radius: 50%;
  width: 50px;
  object-fit: contain;
  object-position: center;
}