<div class="pt-5">
<ng-container>
  <form [formGroup]="loginForm" (ngSubmit)="login()"
        class="d-flex justify-content-center align-items-center align-self-center flex-column h-75">
    <h1>Войти в личный кабинет!</h1>
    <mat-error *ngIf="error" class="my-3">
      Неправильный <strong>логин </strong>или <strong>пароль</strong>
    </mat-error>
    <mat-form-field appearance="fill" color="accent" class="mx-3 mt-3 w-50" [ngClass]="{mobile: isMobile}">
      <mat-label>Имя пользователя</mat-label>
      <input matInput formControlName="email" placeholder="lalka1337">
    </mat-form-field>

    <mat-form-field appearance="fill" color="accent" class="mx-3 w-50" [ngClass]="{mobile: isMobile}">
      <mat-label>Пароль</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div class="w-50" [ngClass]="{mobile: isMobile}">
      <button mat-raised-button color="accent" class="w-100 mb-3" type="submit">ВОЙТИ</button>
      <button mat-stroked-button color="warn" (click)="rememberPassword()" class="mb-3 w-100">О БОЖЕ Я ЗАБЫЛ ПАРОЛЬ!</button>
      <button mat-stroked-button color="basic" (click)="register()" class="w-100">ЗАРЕГИСТРИРОВАТЬСЯ</button>
    </div>
  </form>
</ng-container>
</div>
