<div class="pt-3">
    <ng-container>
        <form [formGroup]="loginForm" (ngSubmit)="register()"
              class="d-flex justify-content-center align-items-center align-self-center flex-column">
            <h1>Регистрация</h1>
            <mat-form-field appearance="fill" color="accent" class="mx-3 mt-1 w-50" [ngClass]="{mobile: isMobile}">
                <mat-label>Введите вашу фамилию</mat-label>
                <input matInput formControlName="surname" placeholder="Иванова">
            </mat-form-field>
            <mat-form-field appearance="fill" color="accent" class="mx-3 mt-1 w-50" [ngClass]="{mobile: isMobile}">
                <mat-label>Введите ваше имя</mat-label>
                <input matInput formControlName="name" placeholder="Елена">
            </mat-form-field>
            <mat-form-field appearance="fill" color="accent" class="mx-3 mt-1 w-50" [ngClass]="{mobile: isMobile}">
                <mat-label>Введите ваше отчество</mat-label>
                <input matInput formControlName="pat" placeholder="Викторовна">
            </mat-form-field>
            <mat-form-field appearance="fill" color="accent" class="mx-3 mt-1 w-50" [ngClass]="{mobile: isMobile}">
                <mat-label>Придумайте логин</mat-label>
                <input matInput formControlName="login" placeholder="username">
            </mat-form-field>
            <mat-form-field appearance="fill" color="accent" class="mx-3 mt-1 w-50" [ngClass]="{mobile: isMobile}">
                <mat-label>Введите номер паспорта</mat-label>
                <input matInput formControlName="passport" placeholder="1234123456">
            </mat-form-field>
            <mat-form-field appearance="fill" color="accent" class="mx-3 mt-1 w-50" [ngClass]="{mobile: isMobile}">
                <mat-label>Придумайте пароль</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div class="w-50" [ngClass]="{mobile: isMobile}">
                <div class="d-flex flex-column align-self-stretch">
                    <mat-label>Ваш пол</mat-label>
                    <mat-radio-group formControlName="sex">
                        <mat-radio-button class="mr-3">Мужской</mat-radio-button>
                        <mat-radio-button>Женский</mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-slide-toggle class="mb-3" color="warn"
                    formControlName="acceptTerms">Я ознакомлен с тем, что это фейковый банк</mat-slide-toggle>
                <button
                    [disabled]="loginForm.invalid"
                    mat-raised-button color="accent" class="w-100 mb-3" type="submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
            </div>
        </form>
    </ng-container>
</div>
