.cardImg {
  width: 50px;
  height: auto;
  object-fit: contain;
}

.mobile {
  width: 100% !important;
}

.privet {
  margin: 0 !important;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}