mat-toolbar {
  span {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 3.2rem;
    outline: none !important;

    &:hover {
      color: #69f0ae;
      cursor: pointer;
    }
  }
}

.privet {
  margin: 0 !important;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}