<div class="m-3">
    <mat-toolbar color="primary" class="d-flex justify-content-between">
        <span routerLink="main">MARS BANK</span>
        <div class="d-flex align-items-center">
            <img src="https://is2-ssl.mzstatic.com/image/thumb/Music124/v4/34/b7/fd/34b7fd7d-c1a0-f534-1a8e-ef757fe313f4/190296892721.jpg/500x500bb.jpg" class="round mr-3" alt="">
            <button mat-flat-button color="accent" [style.display]="visibility==true?'block':'none'" (click)="logout()">Выйти</button>
        </div>

    </mat-toolbar>
    <div>
        <div class="my-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>